@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  src: url("/resources/fonts/Avenir Next.eot?iefix") format("eot");
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  src: url("/resources/fonts/Avenir Next.eot?iefix");
  src: url("/resources/fonts/Avenir Next.woff") format("woff"),
    url("/resources/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf")
      format("truetype");
}

montage-slide {
  background-image: url(/themes/blackFelt/blackFelt.jpg);
  background-position: center center;
  background-size: cover;
  color: white;
  font-family: "Avenir Next", Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

montage-image {
  box-shadow: 0 0.8em 1em 0.2em rgba(0, 0, 0, 0.9);
}