@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  src: url("/resources/fonts/Avenir Next.eot?iefix") format("eot");
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  src: url("/resources/fonts/Avenir Next.eot?iefix");
  src: url("/resources/fonts/Avenir Next.woff") format("woff"),
    url("/resources/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf")
      format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --gap: 0;
  align-content: center;
  background-color: black;
  color: white;
  display: grid;
  font-family: "Avenir Next", Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  grid-template: 1fr / 1fr; /* Main div fills page */
  height: 100%;
  justify-items: center;
  margin: 0;
}

/* Fade content in/out */
body * {
  opacity: 0;
  transition: opacity var(--fadeOutDuration) ease-in;
}

body.showContent * {
  opacity: 1;
  transition: opacity var(--fadeInDuration);
}

#background {
  background-image: url(/resources/blackFelt.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#main,
.photoGrid {
  display: grid;
  max-height: 100%;
  max-width: 100%;
  min-height: 0;
  /* Without width, Safari won't restore grid height after window resize. */
  width: 100%;
  min-width: 0;
}

#main {
  /* align-self: center; */
  /* align-items: center; */
  /* justify-items: center; */
  padding: var(--gap);
  gap: var(--gap);
  grid-template: 1fr auto / 1fr;
}

#collageGrid {
  align-items: center;
  display: grid;
  justify-items: center;
  min-height: 0;
}

#collageGrid > .photoGrid {
  aspect-ratio: var(--aspect);
}

.tileGrid {
  display: grid;
  justify-content: center;
}
