@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  src: url("../resources/fonts/Avenir Next.eot?iefix") format("eot");
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  src: url("../resources/fonts/Avenir Next.eot?iefix");
  src: url("../resources/fonts/Avenir Next.woff") format("woff"),
    url("../resources/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf")
      format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --gap: 0;
  align-content: center;
  background-color: black;
  color: white;
  display: grid;
  font-family: "Avenir Next", Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  grid-template: 1fr / 1fr; /* Main div fills page */
  height: 100%;
  justify-items: center;
  margin: 0;
}

/* Fade content in/out */
body * {
  opacity: 0;
  transition: opacity 2s;
}

body.showContent * {
  opacity: 1;
}

#background {
  background-image: url(../resources/blackFelt.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#main,
.photoGrid {
  display: grid;
  max-height: 100%;
  max-width: 100%;
  min-height: 0;
  /* Without width, Safari won't restore grid height after window resize. */
  width: 100%;
  min-width: 0;
}

#main {
  align-content: space-evenly;
  justify-items: center;
  padding: var(--gap);
}

#main > .photoGrid {
  aspect-ratio: var(--aspect);
}

.image {
  background-size: cover;
  box-shadow: 0 0.8em 1em 0.2em rgba(0, 0, 0, 0.9);
  margin: var(--gap);
}

/*
 * Glass tile
 */
.GlassTile {
  border: 1px solid rgba(64, 64, 64, 0.25);
  box-shadow: 0 12px 16px 0px rgba(0,0,0,.5);
  position: relative;
}

.GlassTile_edge {
  /* border is for older browsers that don't grok border-image gradients. */
  border: 1px solid rgba(255, 255, 255, .2);
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  border-image-width: 1px;
  border-image-repeat: stretch;
  border-image-slice: 1;
  box-shadow: inset 0 0 16px black;
}

.GlassTile_inner {
  border: 1px solid rgba(32, 32, 32, .25);
}

.GlassTile_edgeGlow {
  background: transparent;
  height: 10px;
  position: absolute;
  width: 100%;
}

.GlassTile_upperGlow {
  box-shadow: 0 10px 20px 0 rgba(255, 255, 255, .2);
  top: -10px;
}

.GlassTile_lowerGlow {
  bottom: -10px;
  box-shadow: 0 -10px 20px 0 rgba(255, 255, 255, .2);
}

.GlassTile_container {
  background: radial-gradient(farthest-corner circle at 50% 50%, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
  padding: 0.75em 1em;
}

.GlassTile_content {
  color: white;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 5px 4px black;
}

.GlassTile_reflection {
  background: linear-gradient( 66deg, transparent, transparent 70%, rgba(255,255,255,.1) 70%, transparent );
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
