@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  src: url("../resources/fonts/Avenir Next.eot?iefix") format("eot");
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  src: url("../resources/fonts/Avenir Next.eot?iefix");
  src: url("../resources/fonts/Avenir Next.woff") format("woff"),
    url("../resources/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf")
      format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --gap: 2vmin;
  background-color: black;
  color: white;
  font-family: "Avenir Next", Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  align-content: center;
  display: grid;
  justify-items: center;
}

/* Fade content in/out */
body * {
  opacity: 0;
  transition: opacity 2s;
}

body.showContent * {
  opacity: 1;
}

#background {
  background-image: url(../resources/blackFelt.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#main,
.photoGrid {
  display: grid;
  max-height: 100%;
  max-width: 100%;
  min-height: 0;
  /* Without width, Safari won't restore grid height after window resize. */
  width: 100%;
  min-width: 0;
}

#main {
  justify-items: center;
  padding: var(--gap);
}

.image {
  background-size: cover;
  box-shadow: 0 0.8em 1em 0.2em rgba(0, 0, 0, 0.9);
  margin: var(--gap);
}
